#tocContainer {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  position: fixed;

  top: 80px;
  right: 16px;

  max-height: 60vh; /*should be like 40-50% of viewport to scale*/
  min-width: 180px;
  max-width: 400px; /*width is calculated in JS, these are bounds*/
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  background-color: blue;

  height: 100%; /*fill vertical space */
  z-index: 9999;
}

#toc-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border-bottom: 1px solid #333;
}

#toc-search {
  padding: 8px;
  border-bottom: 1px solid #333;
}

#toc-listContainer {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
}
