#tocContainer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;

    height: 100%;          /* fill vertical space */
    overflow-y: auto;      /* enable vertical scroll */
    flex-shrink: 0;        /* prevent shrinking */
}

#tocheader {
    position: sticky;
    top: 0;
    margin: 0;
    padding-top: 8px;
    background-color: #212121;
    border-bottom: 0.5px solid white;
}

#listContainer {
    word-break: break-all;
    white-space: normal;
}

#listContainer a:hover {
    background-color: #ffffff1a;
}

#listContainer ol {
    padding-left: 28px;
}

#tocContainer h1 {
    font-size: 0.8rem;
    padding-left: 8px;
    padding-top: 10px;
    margin-bottom: 4px;
}

#tocContainer li {
    font-size: 0.7rem;
    margin-bottom: 6px;
}

#toggleButton {
  background-color: #181818;    /* dark gray background */
  color: white;                 /* white text */
  border: none;                 /* no border */
  border-radius: 8px;           /* rounded corners */
  font-size: 1.3em;
  font-weight: bold;             /* slightly bigger text */
  cursor: pointer;              /* pointer on hover */
  user-select: none;            /* prevent text selection */
  padding-bottom: 2px;
  padding-left: 14px;
  padding-right: 14px;
}
